<h2 class="section-title">Bancho Settings</h2>
<p class="section-lead">Change the settings of your osu! server. This includes things such as login messeges, menu icons and more!</p>
<div class="card">
    <div class="card-header">
        <h4>Settings</h4>
    </div>
    <div class="card-body">
        <form action="/settings/bancho" method="post">
            <div class="form-group">
                <label>Bancho Maintenance Mode</label>
                <select class="form-control" name="maintenance">
                    <option value=<%= bancho.maintenance ? 1 : 0 %> selected><%- bancho.maintenance ? "On" : "Off" %></option>
                    <option value=<%= bancho.maintenance ? 0 : 1 %>><%- bancho.maintenance ? "Off" : "On" %></option>
                </select>
            </div>
            <div class="form-group">
                <label>Main Menu Icon</label>
                <input type="text" class="form-control" name="icon" value="<%- bancho.icon %>">
            </div>
            <div class="form-group">
                <label>Login Notification</label>
                <input type="text" class="form-control" name="login" value="<%- bancho.login %>">
            </div>
            <button class="btn btn-primary mr-1" type="submit" name="">Submit</button>
        </form>
    </div>
    <div class="card-footer">
        Horizon
    </div>
</div>