<html class="h-100" dir="ltr" lang="en">
    <head>
        <%- include('head') %>
    </head>

    <body>
        <% if(!login && !error){ %>
            <%- include('navbar') %> 
        <% } %>

        <% if(!error){ %>
        <div class="main-content">
            <% if (alert) { %>
                <div class="alert alert-<%= alert.type %>" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
                    <%= alert.message %>
                </div>
            <% } %>
            <%- body %>
        </div>
        <% } else { %>
        <%- body %>
        <% } %>
    </body>

    <footer>
        <% if(!error){ %>
            <%- include('footer') %>
        <% } %>
    </footer>
</html>