<html class="h-100" dir="ltr" lang="en">
    <head>
        <%- include('base/head') %>
    </head>

    <body>
        <% if(!login && !error){ %>
            <%- include('base/navbar') %> 
        <% } %>

        <% if(!error){ %>
        <div class="main-content">
            <%- include('base/alert') %>
            <%- body %>
        </div>
        <% } else { %>
        <%- body %>
        <% } %>
    </body>

    <footer>
        <% if(!error){ %>
            <%- include('base/footer') %>
        <% } %>
    </footer>
</html>